<h1>Encurtador de URL</h1>

<%= form_with url: urls_path, method: :post, local: true do |form| %>
  <div>
    <%= form.label :original_url, "Cole aqui sua URL longa:" %><br>
    <%= form.text_field :original_url, placeholder: "https://exemplo.com/minha-url-grande" %>
  </div>

  <div>
    <%= form.submit "Encurtar" %>
  </div>
<% end %>

<% if @short_url %>
  <h2>URL Encurtada:</h2>
  <p>
    <a href="<%= @short_url %>"><%= @short_url %></a>
  </p>
<% end %>
